.fp-acc-page {
    .account-overview {
        .overview-row {
            .data-block {
                .data-block-title {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            
            &.balances {
                margin: 30px 0px;
                > div {
                    position: relative;
                } 
                .movements-container {
                    // Positioning on the border
                    position: absolute;
                    top: 0;
                    right: 0;
                    -webkit-transform: translateX(50%); 
                    -ms-transform: translateX(50%);
                    transform: translateX(50%); 
                    
                    text-align: center;
                    .icon-container {
                        position: relative; 
                        margin: 5px auto; 
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        border: 0px solid rgb(231, 234, 236);
                        color: #fff;
                        background: #fff;
                        > i {
                            @include centerer;
                            color: rgb(231, 234, 236);
                            font-weight: 100;
                            font-size: 20px;
                            line-height: 20px;
                        }
                        &.down {
                            background: #ed5565;
                        }
                        &.up {
                            background: #18a689;
                        }
                    }
                    .numbers {
                        margin-top: 20px;
                        font-size: 14px; 
                    }
                }
            }
            
        }
    }
    .composition.list-group.clear-list {
        .list-group-item {
            padding: 2px 0 4px;
        }
        .first-line {
            font-size: 14px;
        }
        .second-line {
            font-size: 12px;
        }
    }
}