.fp-acc-page {
    .account-overview {
        .overview-row {
            position: relative;
            .data-block {
                @include centerer;
                .data-block-title {
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            
            /*&.movements {
                padding: 0px 20px;
                height: 75px;
                .column {
                    //margin: 0px 20px;
                }
                .movements-container {
                    //border: 1px solid rgb(231, 234, 236);
                    border-radius: 5px;
                    text-align: center;
                    .title {
                        width: 100%;
                        //background: #F9F9F9;
                        //border-bottom: 1px solid rgb(231, 234, 236);
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &.red {
                        .title {
                            //background: rgba(235,114,96,0.2);
                        }
                    }
                    &.green {
                        .title {
                            //background: rgba(41,171,164,0.2);
                        }
                    }
                }
            }*/
            
            &.balances {
                > div {
                    height: 75px;
                    padding-bottom: 30p;
                }
                .movements-container {
                    position: absolute;
                    right: 0;
                    .icon-container {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        border: 1px solid rgb(231, 234, 236);
                        color: #fff;
                        background: #fff;
                        &.down {
                            background: #ed5565;
                        }
                        &.up {
                            background: #18a689;
                        }
                        > i {
                            @include centerer;
                            color: rgb(231, 234, 236);
                            font-weight: 100;
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
            
        }
    }
    .composition.list-group.clear-list {
        .list-group-item {
            padding: 2px 0 4px;
        }
        .first-line {
            font-size: 14px;
        }
        .second-line {
            font-size: 12px;
        }
    }
}