@mixin calc($property, $expression) { 
    #{$property}: -webkit-calc(#{$expression}); 
    #{$property}: calc(#{$expression}); 
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin centererV {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin centererH {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%); 
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}