.fp-acc-page {
    .header {
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 50px;
        > h1 {
            text-align: left;
        }
        &.time-range {
            
        }
    }
}