.fp-acc-page {
    .header {
        position: relative;
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 20px;
        .right-menu {
            position: absolute;
            height: 30px;
            width: auto;
            bottom: 10px;
            right: 0px;
            .btn-group {
                position: absolute;
                right: 200px;
            }
        }
        button {
            top: 0;
            background: transparent;
            height: 30px;
            border: none;
            border-right: 1px solid #F5F5F5;
            .ui-button-text {
                font-weight: 400;
            }
        }
        .input-daterange-container {
            display: inline;
            .input-daterange {
                width: 200px;
                display: inline-table;
                > input {
                    border: none;
                }
                > span {
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}