.fp-acc-page {
    
    .chartjs-container {
        margin: 35px 20px; 
        padding: 0;
    } 
    
    .header {
        position: relative;
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 20px;
    }

    .content {
        position: relative;
        min-height: 300px; 
        .ajaxloader{
            @include centerer;
        }
    }
    
}