/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_transaction_form.scss */
.transaction-form .account-summary {
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 300;
}

/* line 2, ../sass/_page_layout.scss */
.fp-acc-page .header {
  position: relative;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 20px;
}
/* line 6, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu {
  position: absolute;
  bottom: 0px;
}
/* line 10, ../sass/_page_layout.scss */
.fp-acc-page .header .input-daterange {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 200px;
}

/* Index Page Accounting */
/* line 16, ../sass/screen.scss */
#accounting-index {
  text-align: center;
}
/* line 19, ../sass/screen.scss */
#accounting-index .header {
  height: 150px;
  position: relative;
}
/* line 23, ../sass/screen.scss */
#accounting-index .header i, #accounting-index .header p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 27, ../sass/screen.scss */
#accounting-index .header > i {
  font-size: 100px;
  color: #F5F5F5;
  transition: all 0.3s ease-in-out 0s;
}
/* line 33, ../sass/screen.scss */
#accounting-index .header p, #accounting-index .header a {
  font-size: 18px;
  line-height: 24px;
  color: #222;
  transition: all 0.3s ease-in-out 0s;
}
/* line 41, ../sass/screen.scss */
#accounting-index .content {
  margin-top: 0px;
  color: #222;
}
/* line 46, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row {
  margin-bottom: 75px;
}
/* line 49, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row > .column {
  border-right: 1px solid #F5F5F5;
}
/* line 52, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row > .column:last-child {
  border-right: none;
}
/* line 55, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row:last-of-type {
  margin-bottom: 25px;
}

/* Balance Sheet */
/* line 64, ../sass/screen.scss */
#balance-sheet ul li {
  list-style-type: none;
  padding-bottom: 3px;
}

/* Profits and Losses */
/* line 72, ../sass/screen.scss */
#profit-loss ul li {
  list-style-type: none;
  padding-bottom: 3px;
}

/* Account Page */
/* line 81, ../sass/screen.scss */
#account-display ul li {
  list-style-type: none;
}
/* line 85, ../sass/screen.scss */
#account-display .account-create-li-button {
  transition: all 0.3s ease-in-out 0s;
}
/* line 87, ../sass/screen.scss */
#account-display .account-create-li-button:hover {
  color: #205081;
  cursor: pointer;
}
/* line 93, ../sass/screen.scss */
#account-display .currency-group {
  display: inline-block;
}
/* line 95, ../sass/screen.scss */
#account-display .currency-group img {
  display: inline-block;
  margin-right: 10px;
}
/* line 98, ../sass/screen.scss */
#account-display .currency-group img:last-child {
  margin-right: 0px;
}
/* line 102, ../sass/screen.scss */
#account-display .currency-group p {
  display: none;
  font-size: 14px;
}
