/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_transaction_form.scss */
.transaction-form .account-summary {
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 300;
}

/* line 3, ../sass/_page_layout.scss */
.fp-acc-page .chartjs-container {
  margin: 35px 20px;
  padding: 0;
}
/* line 8, ../sass/_page_layout.scss */
.fp-acc-page .header {
  position: relative;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 20px;
}
/* line 12, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu {
  position: absolute;
  height: 30px;
  width: auto;
  bottom: 10px;
  right: 0px;
}
/* line 18, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu .btn-group {
  position: absolute;
  right: 220px;
}
/* line 24, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button, .fp-acc-page .header .right-menu input, .fp-acc-page .header .right-menu span {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  background: transparent;
}
/* line 30, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button:hover, .fp-acc-page .header .right-menu input:hover, .fp-acc-page .header .right-menu span:hover {
  color: #000;
}
/* line 33, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button.icon, .fp-acc-page .header .right-menu input.icon, .fp-acc-page .header .right-menu span.icon {
  position: relative;
  top: -7px;
  font-size: 18px;
  line-height: 30px;
}
/* line 42, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button {
  top: 0;
  height: 30px;
  border: none;
  border-right: 1px solid #F5F5F5;
}
/* line 47, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button .ui-button-text {
  font-weight: 400;
}
/* line 50, ../sass/_page_layout.scss */
.fp-acc-page .header .right-menu button:active {
  box-shadow: none;
}
/* line 57, ../sass/_page_layout.scss */
.fp-acc-page .header #input-daterange-container {
  display: inline;
}
/* line 59, ../sass/_page_layout.scss */
.fp-acc-page .header #input-daterange-container .input-daterange {
  width: 220px;
  display: inline-table;
}
/* line 62, ../sass/_page_layout.scss */
.fp-acc-page .header #input-daterange-container .input-daterange > input {
  border: none;
}
/* line 65, ../sass/_page_layout.scss */
.fp-acc-page .header #input-daterange-container .input-daterange > span {
  border: none;
  background: transparent;
  width: 10px;
  height: 22px;
  padding: 4px 5;
}
/* line 76, ../sass/_page_layout.scss */
.fp-acc-page .content {
  position: relative;
  min-height: 300px;
}
/* line 79, ../sass/_page_layout.scss */
.fp-acc-page .content .ajaxloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 2, ../sass/_account_page.scss */
.account-overview .overview-row {
  position: relative;
}
/* line 4, ../sass/_account_page.scss */
.account-overview .overview-row .data-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 8, ../sass/_account_page.scss */
.account-overview .overview-row.movements {
  background: #F9F9F9;
  border-radius: 4px;
  border: 1px solid #e7eaec;
}
/* line 12, ../sass/_account_page.scss */
.account-overview .overview-row.movements > div {
  height: 65px;
}
/* line 18, ../sass/_account_page.scss */
.account-overview .overview-row.balances > div {
  height: 75px;
}
/* line 21, ../sass/_account_page.scss */
.account-overview .overview-row.balances i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -6px;
}

/* Index Page Accounting */
/* line 18, ../sass/screen.scss */
#accounting-index {
  text-align: center;
}
/* line 21, ../sass/screen.scss */
#accounting-index .header {
  height: 150px;
  position: relative;
}
/* line 25, ../sass/screen.scss */
#accounting-index .header i, #accounting-index .header p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 29, ../sass/screen.scss */
#accounting-index .header > i {
  font-size: 100px;
  color: #F5F5F5;
  transition: all 0.3s ease-in-out 0s;
}
/* line 35, ../sass/screen.scss */
#accounting-index .header p, #accounting-index .header a {
  font-size: 18px;
  line-height: 24px;
  color: #222;
  transition: all 0.3s ease-in-out 0s;
}
/* line 43, ../sass/screen.scss */
#accounting-index .content {
  margin-top: 0px;
  color: #222;
}
/* line 48, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row {
  margin-bottom: 75px;
}
/* line 51, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row > .column {
  border-right: 1px solid #F5F5F5;
}
/* line 54, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row > .column:last-child {
  border-right: none;
}
/* line 57, ../sass/screen.scss */
#accounting-index .accounting-index-summary-row:last-of-type {
  margin-bottom: 25px;
}

/* Balance Sheet */
/* line 66, ../sass/screen.scss */
#balance-sheet ul li {
  list-style-type: none;
  padding-bottom: 3px;
}

/* Profits and Losses */
/* line 74, ../sass/screen.scss */
#profit-loss ul li {
  list-style-type: none;
  padding-bottom: 3px;
}

/* Account Page */
/* line 83, ../sass/screen.scss */
#account-display ul li {
  list-style-type: none;
}
/* line 87, ../sass/screen.scss */
#account-display .account-create-li-button {
  transition: all 0.3s ease-in-out 0s;
}
/* line 89, ../sass/screen.scss */
#account-display .account-create-li-button:hover {
  color: #205081;
  cursor: pointer;
}
/* line 95, ../sass/screen.scss */
#account-display .currency-group {
  display: inline-block;
}
/* line 97, ../sass/screen.scss */
#account-display .currency-group img {
  display: inline-block;
  margin-right: 10px;
}
/* line 100, ../sass/screen.scss */
#account-display .currency-group img:last-child {
  margin-right: 0px;
}
/* line 104, ../sass/screen.scss */
#account-display .currency-group p {
  display: none;
  font-size: 14px;
}
