/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/editable.scss */
.fp-editable {
  position: relative;
  height: auto;
  text-align: center;
}
/* line 14, ../sass/editable.scss */
.fp-editable .buttons-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}
/* line 17, ../sass/editable.scss */
.fp-editable .buttons-line button {
  margin: 0px 5px;
}
/* line 22, ../sass/editable.scss */
.fp-editable .form-field-invisible {
  text-align: center;
  margin: 16px 0px 14px 0px;
  padding: 0px;
  border: none;
  background: transparent;
  color: #676a6c;
  outline: 0px !important;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
}
