/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/editable.scss */
.fp-editable h1.editable {
  padding: 0;
}
/* line 15, ../sass/editable.scss */
.fp-editable #account-title-edit {
  position: relative;
  padding: 0;
  margin: 20px 0px 10px 0px;
  height: 33px;
}
/* line 21, ../sass/editable.scss */
.fp-editable #account-title-edit .form-field-invisible {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: -4px 0px 0px 0px;
  padding: 0px;
  border: none;
  background: transparent;
  color: #676a6c;
  outline: 0px !important;
  -webkit-appearance: none;
  box-sizing: border-box;
}
/* line 34, ../sass/editable.scss */
.fp-editable #account-title-edit .buttons-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}
/* line 41, ../sass/editable.scss */
.fp-editable .editable .edit-button {
  display: inline;
  margin-left: 10px;
  font-size: 16px;
  color: transparent;
  transition: all 0.3s ease-in-out 0s;
}
/* line 49, ../sass/editable.scss */
.fp-editable .editable:hover .edit-button {
  color: #222;
}
