/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */

.godardth-webception {
    
    // Table
    .table-tests,
    .table-tests tr,
    .table-tests td {
        border: none;
        border-top: 1px solid #FA;
        padding: 3px 0px 0px 0px;
    }
    
    .table-tests th {
        text-transform: capitalize;
        padding-top: 30px;
        border-top: none;
        border-bottom: 1px solid #F0F0F0;
    }
    
    // Top Button Groups
    .btn-group.btn-group-xs {
        margin-left: 25px;
    }
    
    // Buttons
    .btn.disabled, .btn[disabled] {
        cursor: inherit;
        pointer-events: none;
        &.btn-default {
            color: #000;
        }
        &.btn-success {
            color: #fff;
        }
    }
    
    // Modal
    .modal-dialog {
        width: 90%;
    }
    
}